<nav class="navbar">
   
    <div>
      <ul class="navbar-nav">
        <li>
          <a  routerLink="/counter">Home</a>
        </li>
        <li>
          <a  routerLink="/post" routerLinkActive="active">post</a>
        </li>
        <li>
          <a  routerLink="/task" routerLinkActive="active">post</a>
        </li>
      </ul>
    </div>
  </nav>

<h3>counter:{{counter}}</h3>
<p>{{value}}</p>
<button class="btn btn-success" (click)="onincre()">increment</button>
<button type="button" class="btn btn-danger" (click)="ondec()">Decrement</button>
<button type="button" class="btn btn-danger"(click)="onres()">reset</button>
<input type="number" [(ngModel)]="value">
<button type="button" class="btn btn-danger" (click)="custom()">Custom value</button>
